<h1>Resume</h1>
<br>
<table style="width:100%">
  <tr>
    <td>Joseph Smith</td>	
    <td>119 N. Longport Circle, Unit D, Delray Beach, Florida 33444</td>
    <td>(609) 706-1971</td>
    <td>jcsmith1234@gmail.com</td>
  </tr>
</table>
<br>
<p>
Experienced and highly accomplished Financial Aid Officer with extensive experience-based knowledge of financial policies and demonstrating solid analytical and team management skills. Proven track-record of completing complex projects with precision and accuracy within stringent time restraints.  Energetic and goal-oriented with a genuine passion for financial strategy and a well-rounded background in supporting a progressive organization.  Currently seeking a financial position that will effectively utilize all acquired skills and abilities, bringing 25+ years of professional experience as follows:
</p>

<strong>KEY STRENGTHS</strong>

<table style="width:100%">
	<tr>
		<td>
			<li>Attention to Detail</li>
			<li>Verbal and Written Communication Skills</li>
			<li>Understanding and Managing  Regulations</li>
			<li>Budget Management</li>
			<li>Financial Statements</li>
		</td>
		<td>
			<li>Team Player</li>
			<li>Expenditure Allocations</li>
			<li>Staff Supervision</li>
			<li>Strategic Planning</li>
			<li>Financial Analysis</li>
		</td>
	</tr>
</table>
<br>
 
<h3>EXECUTIVE PROFILE</h3>
<br>
	<p>
	Keiser University, Fort Lauderdale, FL	2011 – Present
	Financial Aid Officer
	Interacts on a daily basis with internal and external organizations to provide students with a comprehensive strategy for their financial aid needs.  Acts as a liaison between the student and federal, state and private institutions.
	-	Provides information to students regarding financial aid program requirements and procedures.
	-	Evaluates documented financial need.
	-	Accepts financial aid applications and forms; review for completeness, accuracy; verify information reported to U.S. Department of Education (COD, NSLDS, FAFSA, ISIR, etc…).
	-	Demonstrates integrity, ethical behavior in working with confidential information and maintains a high level of discretion.
	-	Interprets, applies and complies with federal, state and institutional regulations governing student financial aid.
	-	Recognized and awarded for continually meeting and exceeding department goals in preparing and processing error free financial aid packages.
	</p>
	<p>
	Wachovia/Wells Fargo, Boca Raton, FL	2009 – 2011
	Banker
	Experienced in handling banking and sales activities; great knowledge of various processes and transactions, laws, policies and procedures being implemented and monitored inside the bank environment; efficiently handled various bank teller tasks.
	-	Handled various accounting transactions and reconciliations duties.
	-	Processed customer financial transactions within assigned limits and established guidelines.
	-	Provided excellent customer service in completing transactions efficiently and in a friendly, professional manner. 
	-	Informed customers about the bank’s products and provided them with status data whenever needed.
	-	Met sales and referral goals by identifying and selling products and services beneficial to the customer’s needs.
	</p>
	<p>
		ALPHA SUPPORTED LIVING SERVICES, Seattle, WA	2007 – 2009
		Financial Services Manager
		Assumed full responsibility for the direct fiscal oversight of a 290-employee corporation, including the supervision and allocation of expenditures associated with 2 branch managers and 4 financial supervisors.
		-	Collaborated with controller to produce the annual budget ($9M), monthly forecasts, and strategic plans. 
		-	Coordinated strategies and assisted the CEO in establishing a new company retirement plan which expanded the preexisting plan (which included 25% of the workforce and limited investment flexibility) to allow greater investment diversification and 100% employee participation.
		-	Advised and directed the reallocation of the investment portfolio with a net worth $1.2M+.  
		-	Maintained the employee work base and increases wages, benefits, and moral.
		-	Worked closely with the Developmental Director to manage/collect donor funds essential to the bottom line. 
	</p>
	<p>
		CARDINAL HEALTH INCORPORATED, Cherry Hill, NJ	1993 - 2006
		Transportation Specialist
		Performed various shop steward duties which included management of the company fleet and ensuring that the daily transportation schedule was completed and filled.
		-	Accountable for the transportation and timely delivery of multimillion dollar shipments of pharmaceutical material.
	</p>
	<p>
		U.S. AIR FORCE, Caribou, ME	1986 - 1990
		Communication | Navigation Specialist
		Responsible for maintaining, troubleshooting, and repairing top secret avionics equipment on B-52 Bombers and KC-135 Tanker military aircraft.
		-	Supervised personnel with communication and navigation system upgrades, as well as modification of the entire fleet of aircraft.
	</p>
	<br>

<h3>EDUCATION & SKILLS</h3>

Rutgers University | Camden, NJ
•	Bachelor of Science in Finance (2007)
•	3.8 GPA | Magna Cum Laude
•	Emphasis on Investment Alternatives and Portfolio Management

University of Washington | Seattle, WA

Camden County College | Camden, NJ
•	Accounting (1993)

Proficient in QuickBooks Pro, Quicken, Excel, Access and CampusVue.


