<h1>Reference List</h1>
<br>
<table class="table table-hover">
		<tr>
		<th>Name</th>
		<th>Title/Company</th>
		<th>Address</th>
		<th>Phone Number</th>
		<th>Email</th>
	</tr>
	<tr>
		<td>Scott Livengood</td>
		<td>CEO - Alpha Supported Living Services</td>
		<td>16030 Juanita-Woodinville Way NE, Bothel, WA 98011</td>
		<td>206.284.9130</td>
		<td>livengood@alphasls.org</td>
	</tr>
	<tr>
		<td>Rob Burmaster</td>
		<td>Branch Director/ Alpha Supported Living Services</td>
		<td>16030 Juanita-Woodinville Way NE, Bothel, WA 98011</td>
		<td>206.284.9130</td>
		<td>rburmaster@alphasls.org</td>
	</tr>
	<tr>
		<td>Nhu Nguyen</td>
		<td>Executive Director - Propel</td>
		<td>2500 NW 5th Ave, Boca Raton, FL 33431</td>
		<td>561.302.4984</td>
		<td>nhu@propelyourfuture.com</td>
	</tr>
	<tr>
		<td>Chris Camacho</td>
		<td>Financial Aid Director - Keiser University</td>
		<td>1500 NW 49th Street, Fort Lauderdale, FL 33309</td>
		<td>954.776.4456</td>
		<td>ccamcho@keiseruniversity.edu</td>
	</tr>
</table>

