@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #fcbb53;
	color: #000;
	font-family: 'Montserrat', sans-serif;
}

.navbar-default {
	background-color: #977031;
	border: 1px black solid;
	border-radius: 0;
}

.center {
	text-align: center;
}

.jumbotron {
	background-color: #977031;
	border: 1px black solid;
	font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-brand {
    color: #000;
    font-weight: 100;
    font-size: 40px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,-1px 1px 0 #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 20px;
}

.thumbnail {
	border: 1px black solid;
}
