@import "bootstrap-sprockets";
@import "bootstrap";

body {
	color: gray;
	font-family: 'Montserrat', sans-serif;
	 background-image: url('https://dl.dropboxusercontent.com/s/e9j7knix2e0qvsm/wild_oliva_%402X.png?dl=0');
}

.navbar-default {
	background-color: gray;
	border: 1px black solid;
	border-radius: 0;
}

.center {
	text-align: center;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 20px;
}

.thumbnail {
	height: 420px;
	background: #222222;
	border: 2px #222222 solid
}

.caption {
	h3 {
		color: #878383;
	}
	p {
		color: #878383;
	}
}

.navbar-brand {
	font-size: 40px;
}
